@page
@using Microsoft.AspNetCore.Authentication
@model UserInterface.Pages.UserStats

<div class="card">
    <h2> Character </h2>
    <form method="post" class="card-body">
        <div class="row mb-2">
             <div class="col-2 ml-1">
                 <label asp-for="Character.Name"></label>
                 <input required="required" type="text" asp-for="Character.Name"/>
                 <span asp-validation-for="Character.Name"></span>
             </div>
            
            <div class="col-2 ml-5">
                <label asp-for="Character.HitPoints"></label>
                <input required="required" asp-for="Character.HitPoints"/>
                <span asp-validation-for="Character.HitPoints"></span>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-2 ml-1">
                <label asp-for="Character.AttackModifier"></label>
                <input required="required" asp-for="Character.AttackModifier"/>
                <span asp-validation-for="Character.AttackModifier"></span>
            </div>
            
            <div class="col-2 ml-5">
                <label asp-for="Character.AttackPerRound"></label>
                <input required="required" asp-for="Character.AttackPerRound"/>
                <span asp-validation-for="Character.AttackPerRound"></span>
            </div>
        </div>

        <div class="row mb-2">
            
            Damage
            <div class="col-2 ml-1">
                <input required="required" asp-for="Character.NumberOfThrows"/>d
                <input required="required" asp-for="Character.EdgeCount"/>
            </div>
            
        </div>    
        
        <div class="row mb-2">
        <div class="col-2 ml-5">
                <label asp-for="Character.DamageModifier"></label>
                <input required="required" asp-for="Character.DamageModifier"/>
                <span asp-validation-for="Character.DamageModifier"></span>
            </div>
        </div>
        

        <div class="row mb-2">
            <div class="col-2 ml-1">
                <label asp-for="Character.Weapon"></label>
                <input required="required" asp-for="Character.Weapon"/>
                <span asp-validation-for="Character.Weapon"></span>
            </div>
            <div class="col-2 ml-5">
                <label asp-for="Character.ArmorClass"></label>
                <input required="required" asp-for="Character.ArmorClass"/>
                <span asp-validation-for="Character.ArmorClass"></span>
            </div>
        </div>
        <input type="submit" value="Бой"/>
    </form>
</div>

@if (Model.Monster is not null)
{
    <div class="for_monster card">
        <h2 style="color: #a12828; margin-left: 10px"> @Model.Monster?.Name </h2>
        <div class="card-body">
            <div class="row mb-2">
                 <div class="col-2 ml-1">
                     <label asp-for="Monster.Name"></label>
                     <input readonly="readonly" asp-for="Monster.Name"/>
                 </div>
                
                <div class="col-2 ml-5">
                    <label asp-for="Monster.HitPoints"></label>
                    <input readonly="readonly" asp-for="Monster.HitPoints"/>
                </div>
            </div>
    
            <div class="row mb-2">
                <div class="col-2 ml-1">
                    <label asp-for="Monster.AttackModifier"></label>
                    <input readonly="readonly" asp-for="Monster.AttackModifier"/>
                </div>
                
                <div class="col-2 ml-5">
                    <label asp-for="Monster.AttackPerRound"></label>
                    <input readonly="readonly" asp-for="Monster.AttackPerRound"/>
                </div>
            </div>
    
        <div class="row mb-2">
            Damage
            <div class="col-2 ml-1">
                <input readonly="readonly" asp-for="Monster.NumberOfThrows"/>d
                <input readonly="readonly" asp-for="Monster.EdgeCount"/>
            </div>
            

            <div class="col-2 ml-5">
                <label asp-for="Monster.DamageModifier"></label>
                <input readonly="readonly" asp-for="Monster.DamageModifier"/>
            </div>

        </div>
    
            <div class="row mb-2">
                <div class="col-2 ml-1">
                    <label asp-for="Monster.Weapon"></label>
                    <input readonly="readonly" asp-for="Monster.Weapon"/>
                </div>
                <div class="col-2 ml-5">
                    <label asp-for="Monster.ArmorClass"></label>
                    <input readonly="readonly" asp-for="Monster.ArmorClass"/>
                </div>
            </div>
        </div>
    </div>
}

<div style="background-color: #0f6674; color: white;">
    @Model.Result.ActionsList.Count
    
    @foreach (var action in Model.Result.ActionsList)
    {
        <div>
            @action.CharacterName
            @action.d20RollResult , @action.TypeOfHit , @action.Damage
        </div>
    }
</div>


@section Scripts
{
    <partial name="Shared/_ValidationScriptsPartial"></partial>
}